<%- include('../partials/header.ejs')  %>
    <div class="manageUser-container">
        <div id="title">

        </div>

        <div class="new-message-container new-user">
            <a href="#" onclick="openModal()">+</a>
        </div>
        <h2 style="color:#fff;margin-top:10px;">Add User</h2>
        <div id="users-table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="users-table">
                    <% users.forEach(user => { %>
                        <tr id="<%= user._id %> ">
                            <td class="name">
                                <% if(user.avatar) { %>
                                    <img src="./uploads/avatars/<%= user.avatar %>" alt="user" />
                                    <% }else { %>
                                        <img src="./images/nophoto.png" alt="no photo" />
                                        <% } %>
                                            <span><%= user.name %> </span>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.mobile %>
                            </td>
                            <td class="manage">
                                <img src="./images/trash.png" alt="Delete" onclick="removeUser('<%= user._id %>')" />
                                <img src="./images/edit.svg" alt="Update" />
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('../partials/user-modal.ejs')  %>

        <script>
            // remove toast  
            const deleteToast = Toastify({
                text: "User deleted successfully.!",
                duration: 1000
            })

            const deleteUserErrorToast = Toastify({
                text: "User deleted successfully.!",
                duration: 1000
            })

            // remove user 
            const removeUser = async(userId) => {
                let response = await fetch(`/users/${userId}`, {
                    method: 'DELETE'
                });

                let result = await response.json();

                if (result.errors) {
                    location.reload();
                    deleteUserErrorToast.showToast();
                } else {
                    deleteToast.showToast();
                    document.getElementById(userId).remove();
                }
            }
        </script>
        </body>

        </html>